
<!--xiao mao generator QQ:hi@15-1688.com-->
<%= form_for([:admin,@presale_consulting]) do |f| %>
  <% if @presale_consulting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@presale_consulting.errors.count, "error") %> prohibited this presale_consulting from being saved:</h2>

      <ul>
      <% @presale_consulting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content,:cols=>40,:rows=>4 %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.check_box :value %>
  </div>
  <div class="field">
    <%= f.label :reply %><br />
    <%= f.text_area :reply,:cols=>40,:rows=>4 %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :hide %><br />
    <%= f.check_box :hide %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
