
<h1>Listing presale_consultings</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Content</th>
    <th>Value</th>
    <th>Reply</th>
    <th>Ip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @presale_consultings.each do |presale_consulting| %>
  <tr>
    <td><%= presale_consulting.id %></td>
    <td><%= presale_consulting.content %></td>
    <td><%= presale_consulting.value %></td>
    <td><%= presale_consulting.reply %></td>
    <td><%= presale_consulting.ip %></td>
    <td><%= link_to 'Show', admin_presale_consulting_path(presale_consulting) %></td>
    <td><%= link_to 'Edit', edit_admin_presale_consulting_path(presale_consulting) %></td>
    <td><%= link_to 'Destroy', admin_presale_consulting_path(presale_consulting), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Presale consulting', new_admin_presale_consulting_path %>
