
<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @presale_consulting.content %>
</p>

<p>
  <b>Value:</b>
  <%= @presale_consulting.value %>
</p>

<p>
  <b>Reply:</b>
  <%= @presale_consulting.reply %>
</p>

<p>
  <b>Ip:</b>
  <%= @presale_consulting.ip %>
</p>


<%= link_to 'Edit', edit_admin_presale_consulting_path(@presale_consulting) %> |
<%= link_to 'Back', admin_presale_consultings_path %>
