<div id="posts_list">
    <h1>Listing products</h1>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>P1</th>
      <th>P2</th>
      <th>P3</th>
      <th>P4</th>
      <th>P5</th>
      <th>Promotion</th>
      <th>New</th>
      <th>Score</th>
      <th>S1</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      </tr>
    
    <% @products.each do |product| %>
      <tr id="item<%=product.id%>">
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><%= product.p1 %></td>
    <td><%= product.p2 %></td>
    <td><%= product.p3 %></td>
    <td><%= product.p4 %></td>
    <td><%= product.p5 %></td>
    <td><%= product.promotion %></td>
    <td><%= product.new %></td>
    <td><%= product.score %></td>
    <td><%= product.s1 %></td>
    <td><%=image_tag product.i1.url(:small)%></td>
    <td><%= link_to 'Show', admin_product_path(product) %></td>
    <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
    <td><%= link_to 'Destroy', admin_product_path(product), :confirm => 'Are you sure?', :method => :delete %></td>
        <td><input type="button" name="add" value="add" class="add" data="<%=product.id%>"/></td>
      </tr>
    <% end %>
    </table>
    
    <%=will_paginate @products%>
    <br />
</div>


<script type="text/javascript">

  $(function(){
    
        $('.pagination a').attr('data-remote', 'true');

    
        $("input[name='add'].add").click(function(){
          var id=$(this).attr("data");
          var new_elem=$("#item"+id).clone();
          var new_id="select"+id
          if ($("#"+new_id).length==0)
          {
            //delete add button
            $("input[name='add'].add", new_elem).remove();
            $("<input type='text' name='product_id[]' value='"+id+"'/>").appendTo(new_elem);
            $("<input type='button' name='higher' value='higher' />").click(function(){
                  var parent = $(this).parent();
                  parent.insertBefore(parent.prev());
              }).appendTo(new_elem);
            $("<input type='button' name='lower' value='lower' />").click(function(){
                var parent = $(this).parent();
                parent.insertAfter(parent.next());
    
              }).appendTo(new_elem);
            $("<input type='button' name='delete' value='delete' />").click(function(){
                if (confirm("确定删除该项？"))
                {$("#"+new_id).remove();}
    
              }).appendTo(new_elem);        
            new_elem.wrap("li").attr("id",new_id).appendTo($("#show"));
            //new_elem.appendTo($("#show"));
          }
          else
          {
            alert("已在选择区!");
          }
        });
    
    
  
    function submit_query(){
        $.post($("#form1").attr("action")+".js",$("#form1").serialize(),null,"script");
        return false;
        }
        
    $("select.condition").change(submit_query);
    
    $("#form1 input[name='ajax_query']").click(submit_query);
    
    
  
  
  $('input[type="button"].yaya').click(function(){
    
       var parent = $(this).parent();

    if(this.value === 'higher'){
        parent.insertBefore(parent.prev());
    } else {
        parent.insertAfter(parent.next());
    } 
    });
  
    $('input[type="button"].nono').click(function(){
      if (confirm("确定删除")){
      $(this).closest("li").remove();
      }
    });
    
     $("#product_show_name_helper").change(function(){
      var v=$("#product_show_name_helper option:selected").text();
      $("#product_show_name").val(v);
                              });   
    //$("#size_helper").change(function(){
    //  var v=$("#size_helper option:selected").text();
    //  $("#slot_size").val(v);
    //                          });
    $("#product_show_kind_helper").change(function(){
      var v=$("#product_show_kind_helper option:selected").text();
      $("#product_show_kind").val(v);
                              });
    $("#location_helper").change(function(){
      var v=$("#location_helper option:selected").text();
      $("#product_show_location").val(v);
                              });
});

</script>