
<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @product_show.category_id %>
</p>

<p>
  <b>Name:</b>
  <%= @product_show.name %>
</p>

<p>
  <b>Location:</b>
  <%= @product_show.location %>
</p>

<p>
  <b>Kind:</b>
  <%= @product_show.kind %>
</p>

<p>
  <b>Memo:</b>
  <%= @product_show.memo %>
</p>

<p>
  <b>Position:</b>
  <%= @product_show.position %>
</p>



<%= link_to 'Edit', edit_admin_product_show_path(@product_show) %> |
<%= link_to 'Back', admin_product_shows_path %>
