
<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @presale_consulting.content %>
</p>

<p>
  <b>Ip:</b>
  <%= @presale_consulting.ip %>
</p>


<%= link_to 'Edit', edit_presale_consulting_path(@presale_consulting) %> |
<%= link_to 'Back', presale_consultings_path %>
