<%=flash[:info] unless flash[:info].nil?%>
这个界面是批量增加产品的分类，已有分类还是存在
<!--<form id="form1" name="form1" method="post" action="/admin/products/batch_select">-->
    <%=form_for(["admin",@product],:id=>"form1") do |f|%>
               <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <%= f.label :id %>
    <%= f.text_field :id %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <input id="query" type="button" name="query" value="查询" data="/admin/brands/batch_select?act=query" />
    
    <input id="select_all" type="checkbox" />全选
    <input id="select_reverse" type="checkbox" />反选
    
    <input id="save" type="button" name="save" value="保存分类" data="/admin/brands/batch_select?act=save" /><br/>
<%= render :partial=>'admin/products/new_brand2'%>
        共有<%=@products.size%>条记录

        <table>
  <tr>
    <th></th>
    <th>pic</th>
    <th>Id</th>
    <th>Name</th>
    <th>P1</th>
    <th>P2</th>
    <th>P3</th>
    <th>P4</th>
    <th>Promotion</th>
    <th>New</th>
    <th>Score</th>
    <th>S1</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><input name="product_id[]" type="checkbox" value="<%=product.id%>" /></td>
    <td><%=image_tag product.i1.url(:thumb)%></td>
    <td><%= product.id %></td>
    <td><a href="<%=myproduct_url(product.id)%>" target="_blank"><%= product.name %></a></td>
    <td><%= product.p1 %></td>
    <td><%= product.p2 %></td>
    <td><%= product.p3 %></td>
    <td><%= product.p4 %></td>
    <td><%= product.promotion %></td>
    <td><%= product.new %></td>
    <td><%= product.score %></td>
    <td><%= product.s1 %></td>
    <td></td>
    <td><%= link_to 'Show', admin_product_path(product) %></td>
    <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
    <td><%= link_to 'Destroy', admin_product_path(product), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<!--</form>-->
<%end%>
<script type="text/javascript">
    $("#select_all").click(function(){
        //alert($(this).attr("checked"));
        $("input[name='product_id[]']").attr("checked",$(this).attr("checked"));
        });
    $("#select_reverse").click(function(){
        $("input[name='product_id[]']").each(function(idx,item){
            $(item).attr("checked",!$(item).attr("checked"));
            
            });})
    
    $("#save").click(function(){
        
        $("form").attr("action",$(this).attr("data"));
        
        $("form").submit();
        
        })
    
    $("#query").click(function(){
        
        $("form").attr("action",$(this).attr("data"));
        $("form").submit();
        })
</script>