
<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @tuan.product_id %>
</p>

<p>
  <b>Status:</b>
  <%= @tuan.status %>
</p>

<p>
  <b>Pp1:</b>
  <%= @tuan.pp1 %>
</p>

<p>
  <b>Dp1:</b>
  <%= @tuan.dp1 %>
</p>

<p>
  <b>Dp1 num:</b>
  <%= @tuan.dp1_num %>
</p>

<p>
  <b>Dp2:</b>
  <%= @tuan.dp2 %>
</p>

<p>
  <b>Dp2 num:</b>
  <%= @tuan.dp2_num %>
</p>

<p>
  <b>Title:</b>
  <%= @tuan.title %>
</p>

<p>
  <b>Start time:</b>
  <%= @tuan.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @tuan.end_time %>
</p>

<p>
  <b>Min time:</b>
  <%= @tuan.min_time %>
</p>

<p>
  <b>Min num:</b>
  <%= @tuan.min_num %>
</p>

<p>
  <b>Max time:</b>
  <%= @tuan.max_time %>
</p>

<p>
  <b>Max num:</b>
  <%= @tuan.max_num %>
</p>

<p>
  <b>On:</b>
  <%= @tuan.on %>
</p>


<%= link_to 'Edit', edit_admin_tuan_path(@tuan) %> |
<%= link_to 'Back', admin_tuans_path %>
