
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>

<p>
  <b>Kind:</b>
  <%= @topic.kind %>
</p>


<%= link_to 'Edit', edit_admin_topic_path(@topic) %> |
<%= link_to 'Back', admin_topics_path %>
