<%
location="顶级分类"
category_id=params[:categoryid]
category=Category.find_by_id(category_id)
category_name="家居"
if category
  category_name=category.name
end
#category_name="装饰"
ad0=ad_materials("轮询位",location,category_name)
ad1=ad_materials("条形1",location,category_name)
ad2=ad_materials("条形2",location,category_name)
ad3=ad_materials("条形3",location,category_name)

ps1=ps_products("超值疯抢",location,category_name)
ps21=ps_products("精品推荐左1",location,category_name)
ps22=ps_products("精品推荐右6",location,category_name)
ps3=ps_products("新鲜到货",location,category_name)
ps4=ps_products("积分换购",location,category_name)
ps5=ps_products("每周热销榜",location,category_name)

cs=cs_products("热评商品",location,category_name)
%>
<% content_for :headmeta do %>
<meta name="Generator" content="给力百货 geilibuy.com " /> 
<meta http-equiv="X-UA-Compatible" content="IE=7" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="Keywords" content="" /> 
<meta name="Description" content="给力百货(geilibuy.com)中国最时尚的创意生活百货，作为最专业的创意生活百货购物站，家居频道包含各种创意时尚的
家居商品，正品保证，货到付款" /> 
<meta name="pagename" content="channel" />
<%end%>
<%content_for :headtitle do%>
<title>给力百货家居频道，最流行家居精品专卖【30天退换货】_给力百货 - 日用百货量贩平台：在线销售 家居 厨浴 装饰 办公 潮流等创意商品</title>
<%end%>
<% content_for :headstyle do %>
<link href="/themes/default/css/header.css" rel="stylesheet" type="text/css" /> 
<link href="/themes/default/css/channel.css" rel="stylesheet" type="text/css" /> 
<%end%>
<% content_for :headjs do %>
<script type="text/javascript" src="/themes/default/js/quwan.js" charset="UTF-8"></script> 
<script type="text/javascript" src="/themes/default/js/header.js" charset="UTF-8"></script> 
<%end%>
<% content_for :headother do%>
<link rel="shortcut icon" href="/favicon.ico" /> 
<link rel="icon" href="/animated_favicon.gif" type="image/gif" /> 
<% end%>
<%content_for :bodymenu do %>
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<%=render :partial=>"header",:locals=>{:category_id=>params[:categoryid].to_i}%>
<% end %>
<div id="global_body"> 
    
    
    
</div>    
<div id="main" style="width:946px;">
<%=render :partial=>'left',:locals=>{:location=>location,:category_name=>category_name}%>

<div  id="right"> 
	
	 <div class="channel_right"> 
	  
      	<div id="cflash"> 
        	<ul id="cflash_box">
                  <%ad0.each do |material|%>
        	              	<li class="switch_item"><a href="<%=material.hyperlink%>" target="_blank"><img src="<%=material.image_url.url%>" width="313" height="389" alt="<%=material.alt%>" /></a></li> 
                  <%end%>
                         </ul> 
            <ul id="cflash_index">
                  <%ad0.each_with_index do |material,index|%>
       	           	    	<li class="cflash_li <%="cflash_on" if index==0%>"><%=(index+1)%></li> 
                  <%end%>
                        </ul> 
        </div> 
		
        <div id="channel_flash_right"> 
			<div class="channel_title channel_title1"></div>
        <%ps1.each do |product|%>
        <ul class="worthwhile_ul" > 
            	<li class="worth_goods_img"><a href="<%=product_url(product.id)%>" title="<%=product.name%>" target="_blank"><img src="<%=product.i1.url(:small)%>" alt="<%=product.name%>" width="100" height="100"  /></a> 
                       	  </li> 
            <li class="worth_goods_name li_margin"><a href="<%=product_url(product.id)%>" title="<%=product.name%>" target="_blank"><%=product.name%></a></li> 
              <li class="worth_goods_price">￥<%=price(product.p2)%></li> 
        </ul> 
        <%end%>

               <div id="clear"></div> 
            <%ad1.each do |material|%>
            <div id="channel_ad_box1"><a href="<%=material.hyperlink%>" target="_blank"><img src="<%=material.image_url.url%>" alt="<%=material.alt%>" /></a></div> 
            <%end%>
        </div> 
        <div id="clear"></div> 
</div>	 
	 <div class="channel_right">
          <%ad2.each_with_index do |material,index|%>
  		<div class="channel_ad_box2" <%=raw 'style="margin-right:0;"' if index==2%>><a href="<%=material.hyperlink%>" target="_blank"><img src="<%=material.image_url.url%>" alt="<%=material.alt%>" /></a></div> 
          <%end%>
		        <div id="clear"></div> 
      </div> 
      <div class="channel_title channel_title2"></div> 
<div class="channel_right">
  <%ps21.each do |product|%>
            	<ul id="elect_left"> 
        	<li class="elect_left_img"><a href="<%=product_url(product.id)%>" target="_blank" title="<%=product.name%>"><img src="<%=product.i1.url(:big)%>" alt="<%=product.name%>" width="200" height="200" /></a> 
        	        	</li> 
            <li class="worth_goods_name"><a href="<%=product_url(product.id)%>" target="_blank" title="<%=product.name%>"><%=product.name%></a></li> 
            <li class="worth_goods_price">￥<%=price(product.p2)%></li> 
        </ul>
  <%end%>
                                                          <div id="elect_right">
  <%ps22.each do |product|%>
                                                 	<ul class="elect_right_ul"> 
                <li  class="elect_right_ul_img"><a href="<%=product_url(product.id)%>" target="_blank" title="<%=product.name%>"><img src="<%=product.i1.url(:small)%>" alt="<%=product.name%>" width="100" height="100" /></a> 
                                </li> 
                <li class="worth_goods_name"><a href="<%=product_url(product.id)%>" target="_blank" title="<%=product.name%>"><%=truncate product.name,:length=>12%></a></li> 
                <li class="worth_goods_price">￥<%=price(product.p2)%></li> 
        	</ul> 
  <%end%>
        	                   </div> 
        <div id="clear"></div> 
 </div>	 
	 <div class="channel_title channel_title3"></div> 
      <div class="channel_right"> 
	  <%ps3.each_with_index do |product,index|%>
	        	 <ul class="elect_right_ul arrival_right_ul"  <%=raw 'style="border-left:none;"' if index==0%>> 
            <li class="arrival_right_ul_img"><a href="<%=product_url(product.id)%>" target="_blank" title="<%=product.name%>"><img src="<%=product.i1.url(:small)%>" alt="<%=product.name%>" width="100" height="100" /></a> 
                          </li> 
            <li class="worth_goods_name"><a href="product_url(product.id)" target="_blank" title="<%=product.name%>"><%=truncate product.name,:length=>12%></a></li> 
            <li class="worth_goods_price">￥<%=price(product.p2)%></li> 
         </ul>
                 <%end%>
               <div id="clear"></div> 
         <div id="arrival_box"> 
         	<div id="arrival_left"> 
                <%ad3.each do |material|%>
            	<div id="channel_ad_box3"><a href="<%=material.hyperlink%>" target="_blank" title=""><img src="<%=material.image_url.url%>" alt="<%=material.alt%>" /></a></div> 
		<%end%>		
                <div class="channel_title channel_title5"></div>
                <%ps4.each do |product|%>
                                 <ul class="elect_right_ul hotsale_ul"> 
                    <li class="hotsale_ul_img"><a href="<%=product_url(product.id)%>" target="_blank"><img src="<%=product.i1.url(:medium)%>" alt="<%=product.name%>" width="160" height="160" /></a></li> 
                    <li class="worth_goods_name"><a href="<%=product_url(product.id)%>" target="_blank" title="<%=product.name%>"><%=truncate product.name,:length=>12%></a></li> 
                                        <li class="worth_goods_price">￥<%=price(product.p2)%><font>+<%=product.s1%>积分</font></li> 
                                    </ul>
                <%end%>
                               <div id="clear"></div> 
            </div> 
			   
            <div id="arrival_right"> 
            	<div class="channel_title channel_title4"></div><div id="clear"></div>
                <%ps5.each_with_index do |product,index|%>
                                <div class="hotrank_ul_box"> 
                    <ul class="hotrank_ul_on" style="height:100px;"> 
                      <li class="worth_goods_img"><span class="hotrank_red_span"><%=index+1%></span><a href="<%=product_url(product.id)%>" target="_blank"><img src="<%=product.i1.url(:small)%>" alt="<%=product.name%>" width="100" height="100" /></a></li> 
                        <li class="worth_goods_name li_margin"><a href="<%=product_url(product.id)%>" target="_blank" title="<%=product.name%>"><%=product.name%></a></li> 
                        <li class="worth_goods_price">￥<%=price(product.p2)%></li> 
                    </ul> 
                    <ul class="hotrank_ul_off <%='hotrank_ul_off_odd' if index%2!=0%>"> 
                        <li class="hotrank_ul_off_name"><span class="hotrank_red_span"><%=index+1%></span><a href="<%=product_url(product.id)%>" target="_blank" title="<%=product.name%>"><%=truncate product.name,:length=>14%></a></li>                        
                    </ul> 
                </div>
                                <%end%>
                          </div> 
        <div id="clear"></div> 
     </div> 
  </div>	 
	 <div class="channel_title channel_title6"></div> 
      <div class="channel_right" style=" padding-bottom:20px;">
        <%cs.each do |comment|%>
              	<ul class="elect_right_ul comment_ul"> 
            <li><a href="<%=product_url(comment.product.id)%>" target="_blank"><img src="<%=comment.product.i1.url(:medium)%>" /></a></li> 
            <li class="comment_li"><a href="<%=product_url(comment.product.id)%>" target="_blank" style="height:33px;display:block;"><%=truncate comment.content,:length=>30%></a><span><%=comment.user.nick%></span></li> 
        </ul>
        <%end%>
                <div id="clear"></div> 
      </div></div> 
<div id='clear'></div> 
</div> 
<script type="text/javascript" src="/themes/default/js/js-clib.js" charset="UTF-8"></script> 
<script type="text/javascript" src="/themes/default/js/global.js" charset="UTF-8"></script> 
<script type="text/javascript" src="/themes/default/js/photo-switch.js" charset="UTF-8"></SCRIPT> 
<!--<script type="text/javascript" src="/themes/default/js/category.js" charset="UTF-8"></script> -->
<% content_for :bodyfoot do%>
<!--[if IE 6]><script type="text/javascript">try {document.execCommand('BackgroundImageCache', false, true);} catch(e) {}</script><![endif]--> 
<div id="global_foot_white"></div> 
<% end%>

<%content_for :outhtml do%>
<script type="text/javascript"> 
$(document).ready(function(){
	setHeadFlowNum();//购物车数量
	setSearchAicon('unreal_sales','desc');
	/* 分类频道页js 开始*/
$('#arrival_right').find('.hotrank_ul_box').eq(0).find('.hotrank_ul_on').show();
$('#arrival_right').find('.hotrank_ul_box').eq(0).find('.hotrank_ul_off').hide();
$('#cflash_box').switchboxaction({Time:3000,SwitchTime:3000,switchindex:'#cflash_index',onclass:'cflash_on',SwitchMode:'Hover',AutoStart:true,SwitchEffect:'fadeOut'});
$('.hotrank_ul_box').hover(function(){
	$('#arrival_right').find('.hotrank_ul_box').find('.hotrank_ul_on').hide();
	$('#arrival_right').find('.hotrank_ul_box').find('.hotrank_ul_off').show();
	$(this).find('.hotrank_ul_on').show();
	$(this).find('.hotrank_ul_off').hide();
	}, function(){
	});
	/* 分类频道页js  结束 */
});
</script> 
<script type="text/javascript"> 
$(document).ready(function(){
    /* 列表页左侧列表弹出操作事件 */
    $('.list_off').hover(function(){
  	  $('.listbox').find('.list_off').removeClass('list_on');
  	  $(this).addClass('list_on');
  	  $(this).find('.list_pop').show();	
  	}, function(){									  
  	  $(this).find('.list_pop').hide();
  	});
    /* 价格搜索按钮显示 */
    $('.price_zone').focus(function(){
     $('.sel_btn').show();
    }); 
     /*静态页面调用该函数*/
        setHeadUserStatus();
      });
</script>
<%end%>