<% content_for :headmeta do %>
<meta name="Generator" content="给力百货 geilibuy.com " />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache"/>
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
<meta http-equiv="expires" content=""/>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="pagename" content="lottery" />
<%end%>
<%content_for :headtitle do%>
<title>趣玩抽奖总动员</title>
<%end%>
<% content_for :headstyle do %>
<link href="/themes/default/css/header.css" rel="stylesheet" type="text/css" />
<link href="/themes/default/css/lottery.css" rel="stylesheet" type="text/css" />
<%end%>
<% content_for :headjs do %>
<script type="text/javascript" src="/themes/default/js/quwan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/js-clib.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/header.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/global.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/lottery.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/flow.js" charset="UTF-8"></script>
<%end%>
<% content_for :headother do%>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" href="/animated_favicon.gif" type="image/gif" />
<% end%>
<div id="global_wish_body">


     <!--<div class="wish_share_update_box" id="winner_multi">
  	<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
     <td class="wish_share_update_left"><img src="/themes/default/imgs/wish/warn.gif" width="34" height="32" /></td>
    <td height="40" class="wish_share_update_left" style="padding-left:70px;">邮件系统正在升级，验证邮件发送会略有延迟，请您耐心等待。
  <div id="status2" style="display:none;"></div></td>
  </tr>
</table>
  </div>-->













<div id="wish_postion_box"><span>分享抽奖活动</span><span><a href="/lottery"><img src="/themes/default/imgs/wish/wish_position_return.gif" /></a></span></div>
    <div class="wish_other_box wish_share_top">
       <div class="wish_role_title"><img src="/themes/default/imgs/wish/wish_share_title.gif" /></div>
       <ul>

            <li>你每邀请1个朋友参加活动(注册并验证邮箱)，你可以<span>获得20幸运点</span></li>
            <li>你的朋友(你邀请来的)每邀请1个人参加活动(注册并验证邮箱)，你还可以<span>获得10幸运点</span></li>
            <li>如果你中奖了，在中奖后3天内邀请1个朋友参加活动(注册并验证邮箱)，可以<span>获得40幸运点</span>，你的朋友<span>获得60幸运点</span></li>
       </ul>
       <a href="#rule">[查看详细规则]</a>

    </div>
  
<!--  <div class="xmas_gift_box_top"><img src="/themes/default/imgs/xmas/div_top_bg.gif" /></div>
<div class="xmas_role_box">
    	<div class="xmas_role_title"><img src="/themes/default/imgs/xmas/share_fri_title.gif" /></div>
        <table width="928" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="88" height="40" align="center">你的姓名：</td>
            <td width="398"><input class="msn_input msn_you_name" name="textfield" type="text" id="textfield" size="45" />
            请尽量填写真实姓名</td>
            <td width="67" align="right" style="border-left:1px dotted #cccccc;"><img src="/themes/default/imgs/xmas/msn_img.gif" width="28" height="24" />&nbsp;&nbsp;</td>
            <td width="375"><font style="font-size:14px; color:#000; font-weight:bold;">将抽奖活动告诉你的MSN好友</font></td>
          </tr>
          <tr>
            <td height="40" align="center">MSN帐号：</td>
            <td><input  class="msn_input" name="textfield2" type="text" id="textfield2" size="45" /></td>
            <td rowspan="5" valign="top" style="border-left:1px dotted #cccccc;">&nbsp;</td>
            <td rowspan="5" valign="top">-向指定的MSN好友发送邮件，分享这个活动<br />
            -MSN帐号不会被用于任何其他用途</td>
          </tr>
          <tr>
            <td height="40" align="center">MSN密码：</td>
            <td><input  class="msn_input" name="textfield3" type="text" id="textfield3" size="45" /></td>
          </tr>
          <tr>
            <td height="40" align="center">&nbsp;</td>
            <td><img src="/themes/default/imgs/xmas/msn_share_tip.gif" width="318" height="38" /></td>
          </tr>
          <tr>
            <td height="40" align="center">&nbsp;</td>
            <td><input type="submit" name="button" id="button" value="打开好友列表" /></td>
          </tr>
          <tr>
            <td align="center">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
    </table>

    <div id="clear"></div>
	</div>
	<div class="xmas_gift_box_bottom"><img src="/themes/default/imgs/xmas/div_bottom_bg.gif" /></div>
-->

    <div class="wish_other_box">
    	<div class="wish_role_title"><img src="/themes/default/imgs/wish/share_bbs_title.gif" /></div>
        <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="35" colspan="4" align="center" valign="middle"><font style="font-size:14px;">选择你最常出没的社区......</font></td>
          </tr>
<%
if has_login?
  share_url=url_encode("http://www.geilibuy.com/lottery/r#{current_user.id}")
else
  share_url=url_encode("http://www.geilibuy.com/lottery")
end
share_title="被天上掉下来的馅饼砸中过吗？别刮发票了，去给力百货抽奖总动员吧，给力商品免费送到家！"
xiaonei=%Q{http://share.xiaonei.com/share/buttonshare.do?link=#{share_url}&title=#{share_title}}
kaixin=%Q{http://www.kaixin001.com/repaste/share.php?title=#{share_title}&rurl=#{share_url}}
douban=%Q{http://www.douban.com/recommend/?url=#{share_url}&title=#{share_title}}
qq=%Q{http://v.t.qq.com/share/share.php?title=#{share_title}&url=#{share_url}}
sohu=%Q{http://bai.sohu.com/share/blank/add.do?link=#{share_url}}
baidu=%Q{http://cang.baidu.com/do/add?it=#{share_title}&tn=#{share_url}}
%>
          <tr>
            <td width="25%" align="center" valign="middle"><a href="" target="_blank"><img src="/themes/default/imgs/xmas/share_sina.gif" width="175" height="50" /></a></td>
            <td width="25%" height="80" align="center" valign="middle"><a href="<%=raw kaixin%>" target="_blank"><img src="/themes/default/imgs/xmas/share_kaixin001.gif" width="175" height="50" /></a></td>
            <td width="25%" align="center" valign="middle"><a href="<%=raw xiaonei%>" target="_blank"><img src="/themes/default/imgs/xmas/share_renren.gif" width="175" height="50" /></a></td>
            <td width="25%" align="center" valign="middle"><a href="<%=raw douban%>" target="_blank"><img src="/themes/default/imgs/xmas/share_douban.gif" width="175" height="50" /></a></td>
          </tr>
        </table>
        <div id="clear"></div>
	</div>

 
    <div class="wish_other_box">
    	<div class="wish_role_title"><img src="/themes/default/imgs/wish/copy_link_title.gif" /></div>
    	                        <table width="928" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="35" align="left" valign="middle"><font style="font-size:14px;">将分享链接，通过QQ,MSN等聊天工具发给朋友，或者在论坛发个帖子，将下面的链接放在帖子里，分享这个活动．</font></td>
          </tr>
          <tr>
            <%if has_login?%>
            <td height="35" align="left" valign="middle"><input name="textfield4" type="text" id="textfield4" size="80" value="http://www.geilibuy.com/lottery/r<%=current_user.id%>" readonly="readonly" onclick="this.select();" /></td>
            <%else%>
            <td height="35" align="left" valign="middle"><input name="textfield4" type="text" id="textfield4" size="80" value="http://www.geilibuy.com/lottery" readonly="readonly" onclick="this.select();" /></td>
            <%end%>
          </tr>
          <tr>
            <%if has_login?%>
            <td align="left" valign="middle"><input type="button" name="button2" id="button2" onclick="copyToClipboard('http://www.geilibuy.com/lottery/r<%=current_user.id%>')" value="复制链接" /></td>
            <%else%>
            <td align="left" valign="middle"><input type="button" name="button2" id="button2" onclick="copyToClipboard('http://www.geilibuy.com/lottery')" value="复制链接" /></td>
            <%end%>
          </tr>
           <tr>
            <td align="left" valign="middle"><img src="/themes/default/imgs/wish/wish_share_pic_intro.gif" width="894" height="507" /></td>
          </tr>
          <tr>
            <td align="left" valign="middle">&nbsp;</td>

          </tr>
        </table>
                                <div id="clear"></div>
	</div>
<a name="rule"></a>
	<div class="wish_other_box">
    <div class="wish_role_title"><img src="/themes/default/imgs/wish/wish_role_detail_title.gif" /></div>
<ol class="wish_role_list" style="padding-bottom:15px;">
<li style="margin-left: 35px;">你可以选择在社区、聊天工具、博客等处列出给定链接分享趣玩抽奖活动，如果你的朋友参加活动，趣玩将自动发放幸运点以示鼓励，奖励的幸运点将在你的朋友验证邮箱完成时自动添加到你的帐户中。</li>
            <li style="margin-left: 35px;">你每邀请1个朋友参加活动（注册并验证邮箱），你可以获得20个幸运点；你的朋友（你邀请来的）每邀请1人参加活动（注册并验证邮箱），你还可以获得10个幸运点；</li>

            <li style="margin-left: 35px;">3月15日后中奖的用户分享抽奖活动可自动得到双倍奖励的幸运点，中奖用户在中奖后的3天内每邀请1个朋友参加活动，可以获得40个幸运点，中奖用户的朋友获得60个幸运点。</li>
        </ol>
      <div id="clear"></div>
</div>



<div id="clear"></div>
</div>
<%content_for :bodyfoot do%>
<div id="global_foot_white"></div>
<!--<script type=text/javascript>-->
<!--$(document).ready(function(){-->
<!--  setHeadFlowNum();//购物车数量-->
<!--  try-->
<!--  {-->
<!--        lotteryActivity();//概率翻倍活动-->
<!--  }-->
<!--  catch (e)-->
<!--  {-->
<!--  }-->
<!--});-->
<!--</script>-->

<map name="wish_banner_Map" id="wish_banner_Map">

    <area shape="rect" coords="20,111,233,194" href="?act=guide" target="_blank" />
    <area shape="rect" coords="250,112,464,197" href="?act=guide" target="_blank" />
    <area shape="rect" coords="480,111,694,197" href="?act=guide" target="_blank" />
</map>
<script type="text/javascript">
$(function(){
  
      setHeadFlowNum();//购物车数量

     /*静态页面调用该函数*/
        setHeadUserStatus();
  
  });
</script>
<%end%>

