
<!--xiao mao generator QQ:hi@15-1688.com-->
<%= form_for([:admin,@cash_order]) do |f| %>
  <% if @cash_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cash_order.errors.count, "error") %> prohibited this cash_order from being saved:</h2>

      <ul>
      <% @cash_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sn %><br />
    <%= f.text_field :sn %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :tuangou %><br />
    <%= f.check_box :tuangou %>
  </div>
  <div class="field">
    <%= f.label :payment_id %><br />
    <%= f.text_field :payment_id %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :money %><br />
    <%= f.text_field :money %>
  </div>
  <div class="field">
    <%= f.label :payment_name %><br />
    <%= f.text_field :payment_name %>
  </div>
  <div class="field">
    <%= f.label :new_scores %><br />
    <%= f.text_field :new_scores %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
