<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />

 <title></title>
</head>

<body>
 <p>&nbsp;</p>

 <p style="font-size: 12px; margin: 0pt; font-family: Helvetica,Arial,sans-serif; text-align: center; padding: 0pt;"><br />
 <br />
 如不想继续收到给力团每日团购信息，您可随时<a style="color: #0099ff; border: medium none;" href="http://www.15-1688.com:3000/tuan/unsubscribe?code=" target="_blank">取消订阅</a>。<br />
 请把<a style="color: #0099ff; border: medium none;" href="mailto:service@geilibuy.com" target="_blank">service@geilibuy.com</a>加到您的邮箱联系人中，以确保能正确接收此邮件。</p>

 <table style="background-color: #ece8dd; border: #e5d9c1 1px solid;" border="0" cellspacing="0" cellpadding="0" width="716" align="center">
  
   <tr>
    <td width="10">&nbsp;</td>

    <td height="20">&nbsp;</td>

    <td width="10">&nbsp;</td>
   </tr>

   <tr>
    <td height="61" align="right" valign="bottom">&nbsp;</td>

    <td align="center">
     <table style="border-right: #decfa8 1px solid; border-top: #decfa8 1px solid; border-left: #decfa8 1px solid; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" width="100%">
      
       <tr>
        <td style="padding-left: 35px; padding-bottom: 10px; padding-top: 26px;" width="288" align="left"><a style="border: medium none;" href="http://www.geilibuy.com/tuan?from=mail&code=" target="_blank"><img style="border: medium none;" src="/themes/default/imgs/send_mail/tuan/tuan_logo.jpg" border="0" alt="" width="198" height="43" /></a></td>

        <td width="136" valign="bottom">&nbsp;</td>

        <td style="padding-right: 17px; font-size: 12px; padding-bottom: 17px; color: #cc141d;" width="268" align="right" valign="bottom"><%=show_chinese_yyyymmdd2(Time.now)%></td>
       </tr>

       <tr>
        <td colspan="3" bgcolor="#D2000B">&nbsp;</td>
       </tr>

       <tr>
        <td style="padding-right: 25px; padding-left: 25px; font-size: 24px; color: #cc141d; line-height: 30px; padding-top: 15px; font-family: microsoft yahei,simhei;" colspan="3" align="left"><%=@tuan.title%></td>
       </tr>
      
     </table>
    </td>

    <td>&nbsp;</td>
   </tr>

   <tr>
    <td align="right" valign="top"><img src="http://www.15-1688.com:3000/themes/default/imgs/send_mail/tuan/greenblock.gif" alt="" width="10" height="99" /></td>

    <td align="left" valign="top">
     <table style="font-weight: bold; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" width="100%">
      
       <tr>
        <td style="padding-top: 15px; height: 84px;" width="230" height="84" align="left" valign="top">
         <table border="0" cellspacing="0" cellpadding="0" width="100%">
          
           <tr>
            <td style="padding-right: 15px; font-weight: bold; font-size: 24px; color: #fff; font-family: Arial, Helvetica, sans-serif;" width="27%" height="84" align="left" bgcolor="#86A502">￥<%=price(@tuan.pp2)%></td>

            <td width="73%"><a style="display: block; width: 125px; height: 84px; max-height: 84px; border: medium none;" href="http://www.15-1688.com:3000<%=mytuan_url(@tuan)%>?from=mail&code=" target="_blank"><img style="border: medium none;" src="http://www.15-1688.com:3000/themes/default/imgs/send_mail/tuan/look_btn.gif" border="0" alt="" width="125" height="84" /></a></td>
           </tr>
          
         </table>
        </td>

        <td style="border-right: #decfa8 1px solid; padding-bottom: 25px; padding-top: 15px; border-bottom: #decfa8 1px solid;" rowspan="3" align="left" valign="top"><a style="border: medium none;" href="http://www.15-1688.com:3000<%=mytuan_url(@tuan)%>?from=mail&code=" target="_blank"><img style="border: medium none;" src="<%=@tuan.i1.url(:big)%>" border="0" alt="" width="441" height="267" /></a></td>
       </tr>

       <tr>
        <td style="border-left: #decfa8 1px solid;" align="left" valign="top">
         <table style="margin-bottom: 15px; margin-left: 15px; border-bottom: #decfa8 1px dashed;" border="0" cellspacing="0" cellpadding="0" width="80%">
          
           <tr>
            <td style="font-size: 12px;" height="25" align="left" valign="bottom">市场价</td>

            <td style="font-size: 12px;" align="left" valign="bottom">折扣</td>

            <td style="font-size: 12px;" align="left" valign="bottom">节省</td>
           </tr>

           <tr>
            <td style="font-family: Arial, Helvetica, sans-serif;" height="30" align="left" valign="middle">
             <del><strong>￥<%=@tuan.pp1%></strong></del>
            </td>

            <td style="font-family: Arial, Helvetica, sans-serif;" align="left" valign="middle"><strong><%=show_tuan_discount(@tuan)%>折</strong></td>

            <td style="font-family: Arial, Helvetica, sans-serif;" align="left" valign="middle"><strong>￥<%=@tuan.pp2%></strong></td>
           </tr>
          
         </table>
        </td>
       </tr>

       <tr>
        <td style="padding-left: 15px; font-weight: normal; font-size: 12px; border-left: #decfa8 1px solid; line-height: 20px; border-bottom: #decfa8 1px solid; height: 138px;" align="left" valign="top">
<%@tuan.features.each do |feature|%>
        <%=feature.title%><br />
<%end%>
        &nbsp;</td>
       </tr>
      
     </table>
    </td>

    <td>&nbsp;</td>
   </tr>

   <tr>
    <td style="height: 10px;">&nbsp;</td>

    <td style="height: 10px;" align="center">&nbsp;</td>

    <td style="height: 10px;">&nbsp;</td>
   </tr>

   <tr>
    <td>&nbsp;</td>

    <td align="center">
     <table style="background-color: #ffffff; border: #decfa8 1px solid;" border="0" cellspacing="0" cellpadding="0" width="100%">
      
       <tr>
        <td style="padding-left: 15px; font-weight: bold; font-size: 16px; color: #810102; padding-top: 10px;" height="45" align="left">本单详情</td>
       </tr>

       <tr>
        <td style="padding-right: 15px; padding-left: 15px; font-weight: bold; font-size: 14px; color: #ffffff;" height="35" align="left">

                         
                         
                <%@tuan.details.each do |detail|%>
            <table class="detail_item" style="margin: 5px 0px" width="100%" border="0">
    <tbody>
        <tr>
            <td style="padding-right: 10px; padding-left: 10px; font-weight: bold; font-size: 14px; padding-bottom: 0px; color: rgb(255,255,255); line-height: 30px; padding-top: 0px; background-color: rgb(251,129,6)"><%=detail.title%></td>
        </tr>
        <tr>
            <td style="padding-right: 0px; padding-left: 0px; font-weight: normal; font-size: 14px; padding-bottom: 10px; color: rgb(0,0,0); line-height: 22px; padding-top: 10px">
            <%=raw detail.content%>
            </td>
        </tr>
    </tbody>
</table>
            <%end%>

<table class="detail_item" style="font-size: 14px" width="100%" border="0">
    <tbody>
        <tr>
            <td style="font-weight: bold; margin-bottom: 15px; color: rgb(50,50,50); line-height: 33px; height: 33px">他们说</td>
        </tr>
    </tbody>
</table>
<%
ts_container=[]
if @tuan.ts1 and @tuan.ts1.strip!=""
  ts_container<<[@tuan.ts1,@tuan.ts1_name]
end
if @tuan.ts2 and @tuan.ts2.strip!=""
  ts_container<<[@tuan.ts2,@tuan.ts2_name]
end
if @tuan.ts3 and @tuan.ts3.strip!=""
  ts_container<<[@tuan.ts3,@tuan.ts3_name]
end
ts_container.each do |ts|
  say,name=ts
%>
<table class="detail_item" style="font-size: 14px" width="100%" border="0">
    <tbody>
        <tr>
            <td class="yinhao" style="padding-left: 25px; font-weight: normal; font-size: 14px; background: url(/themes/default/imgs/tuan/yinhao.gif) no-repeat 0px 0px; color: rgb(0,0,0); line-height: 24px"><%=say%></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; line-height: 24px"><span style="padding-right: 10px; display: block; font-weight: normal; padding-bottom: 10px; color: rgb(0,0,0); text-align: right"><%=name%></span></td>
        </tr>
    </tbody>
</table>
<%end%>
<table class="detail_item" style="font-size: 14px" width="100%" border="0">
    <tbody>
        <tr>
            <td style="font-weight: bold; margin-bottom: 15px; color: rgb(50,50,50); line-height: 33px; height: 33px">给力百货说</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td style="font-weight: normal; margin-bottom: 15px; color: rgb(0,0,0); line-height: 24px">
            <%=raw @tuan.ws1%>        
            </td>
        </tr>
    </tbody>
</table>                                     

        
        
        </td>
       </tr>
      
     </table>
    </td>

    <td>&nbsp;</td>
   </tr>

   <tr>
    <td>&nbsp;</td>

    <td style="font-size: 12px;" align="center" valign="middle">
     <a style="color: #0099ff; border: medium none;" href="" target="_blank">到给力团购买</a>

     <table border="0" width="100%">
      
       <tr>
        <td width="40%" align="right"><a style="border: medium none;" href="http://www.15-1688.com:3000<%=mytuan_url(@tuan)%>?from=mail&code=" target="_blank"><img style="border: medium none;" src="/themes/default/imgs/send_mail/tuan/mail_btn.gif" border="0" alt="" width="81" height="28" /></a></td>

        <td style="padding-left: 15px; font-size: 12px;" width="60%" align="left">给力百货7&times;24小时客服400-88-16016</td>
       </tr>
      
     </table>
    </td>

    <td style="height: 80px;">&nbsp;</td>
   </tr>
  
 </table>

 <p style="font-size: 12px; margin: 0pt; font-family: Helvetica,Arial,sans-serif; text-align: center; padding: 0pt;"><br />
 您收到此邮件是因为您订阅了给力团每日团购信息。如果您不想继续接收此类邮件，可随时<a style="color: #0099ff; border: medium none;" href="http://www.15-1688.com:3000/tuan/unsubscribe?code=" target="_blank">取消订阅</a>。</p>

<!--<img src="http://newsletter.geilibuy.com/x/p/?S7Y1.J9ra2hu8b.I1tTc2NDU7H_SrQEAj97" style="width:1px;height:1px" alt="">-->
</body>
</html>