
<!--xiao mao generator QQ:hi@15-1688.com-->
<%= form_for([:admin,@article_category]) do |f| %>
  <% if @article_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article_category.errors.count, "error") %> prohibited this article_category from being saved:</h2>

      <ul>
      <% @article_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
    <div class="field">
    <%= f.label :tuangou %><br />
    <%= f.check_box :tuangou %>
  </div>
        <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :memo %><br />
    <%= f.text_area :memo,:cols=>40,:rows=>4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
