           <div class="right_top"> <span class="welcome quehuo"></span> <span class="goon_btn"><a style="color:#fff;" href="./"  title="首页">继续购物</a></span> </div>

<div class="right_line">
  <form action="/usercenter/out_of_stock/<%=@product.id%>/new" method="post" name="formBooking" onSubmit="return addBooking();">
               <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<table width="100%"  border="0" cellpadding="0" cellspacing="0" class="table">
      <tr>
        <td height="30" colspan="2" align="left" valign="middle" class="td_top"><span style="padding-left:10px; font-weight:bold; color:#000;">在下面登记你需要的商品，我们会在到货后第一时间与您联系</span></td>
      </tr>
      <tr>
        <td width="114" align="left" valign="middle">&nbsp;</td>
        <td width="653" height="30" align="left" valign="middle" >&nbsp;</td>

      </tr>
      <%u=current_user%>
      <tr>
        <td height="40" align="right" valign="middle" class="td_form"><span style="color:#652f00; padding-right:10px;">商品名称：</span></td>
        <td align="left" valign="middle" class="td_form"><a href="<%=myproduct_url(@product.id)%>" target="_blank"><%=@product.name%></a></td>
      </tr>
      <tr>
        <td height="40" align="right" valign="middle" class="td_form"><span style="color:#652f00; padding-right:10px;">联系人：</span></td>

        <td align="left" valign="middle" class="td_form"><input name="linkman" type="text" value="<%=u.nick%>" size="25" />
          <span style="color:#F00">*（必填）</span></td>
      </tr>
      <tr>
        <td height="40" align="right" valign="middle" class="td_form"><span style="color:#652f00; padding-right:10px;">E-mail：</span></td>
        <td align="left" valign="middle" class="td_form"><input name="email" type="text" value="<%=u.email%>" size="25" />
          <span style="color:#F00">*（必填）</span></td>

      </tr>
      <tr>
        <td height="40" align="right" valign="middle" class="td_form"><span style="color:#652f00; padding-right:10px;">手机：</span></td>
        <td align="left" valign="middle" class="td_form"><input name="tel" type="text" value="" size="25" />
          （到货后，我们将第一时间短信免费通知您） </td>
      </tr>
      <tr>
        <td height="40" align="right" valign="middle" class="td_form"><span style="color:#652f00; padding-right:10px;">留言：</span></td>

        <td align="left" valign="middle" class="td_form"><label>
            <textarea name="desc" cols="50" rows="5" style="width:496px;height:58px;"></textarea>
          </label></td>
      </tr>
      <tr>
        <td height="40" align="left" valign="middle" class="td_form">&nbsp;</td>
        <td align="left" valign="middle" class="td_form"><span class="goon_btn" style="float:left; margin-left:0;">
          <input type="submit" value="提交" class="u_btn">

          </span></td>
      </tr>
      <tr>
        <td align="left" valign="middle" class="td">&nbsp;</td>
        <td align="left" valign="middle" class="td">&nbsp;</td>
      </tr>
    </table>
    <input name="act" type="hidden" value="act_add_booking" />
    <input name="id" type="hidden" value="10156" />

    <input name="rec_id" type="hidden" value="" />
  </form>
</div>
<%content_for :outhtml do%>
<script type="text/javascript">

  stepUserCenterAction('booking_list');//设置活动menu
  setHeadFlowNum();//购物车数量
  
        setHeadUserStatus();// 检测是否登录

</script>
<%end%>