<div class="right_top">
        	<span class="welcome pinglun"></span>
            <span class="goon_btn"><a style="color:#fff;" href="/" title="首页">继续购物</a></span>             
        </div>        
      <div class="right_line">
      <p style="line-height:24px;">看我发表的其它评论（ <%=@postsale_comments.total_entries%> ）</p>
        <table width="100%"  border="0" cellpadding="0" cellspacing="0" class="table">
<%@postsale_comments.each do |postsale_comment|%>
                    <tr>
            <td height="30" colspan="7" align="left" valign="middle" class="td_top"><span style="padding-left:10px; color:#000;">&nbsp;<font>0</font>人认为此评论有用</span></td>
          </tr>
          <tr>
            <td colspan="7" align="left" valign="middle" class="td">
              <div class="zixun_p" style="padding-bottom:0;" >
                评&nbsp;&nbsp;<a href='<%=myproduct_url(postsale_comment.product.id)%>' target="_blank"><%=postsale_comment.product.name%></a>
                <span class="star s<%=((postsale_comment.creative+postsale_comment.feature+postsale_comment.quality)/3).to_i%>">
                    <dl class="star_pop">
                        <dd>
                            <p>创意&nbsp;&nbsp;<span class="star s<%=postsale_comment.creative%>"></span></p>
                            <p>功能&nbsp;&nbsp;<span class="star s<%=postsale_comment.feature%>"></span></p>
                            <p>做工&nbsp;&nbsp;<span class="star s<%=postsale_comment.quality%>"></span></p>
                        </dd>
                    </dl>
                </span>
                <font>[<%=postsale_comment.created_at%>]</font><br />
                <p> <%=postsale_comment.content%></p>
            </div>            
                           <p style="padding-bottom:15px;"></p>
                        </td>
          </tr>
<%end%>
           
        </table>        
      </div> 
      <%=raw @page%>
 <script>
    function yz () {
        if ($("#title").val() == '')
        {
            alert('标题为空!');
            return false;
        }
        if ($("#textarea").val() == '' || $("#textarea").val() == '评论不能超过200个字')
        {
            alert('内容为空!');
            return false;
        }
        //alert('您的评论稍后将发布，谢谢。');
		alert('您的评论已发布，谢谢。');
        return true;
    }
</script>
<% content_for :outhtml do %>
<script type="text/javascript">
  $(document).ready(function(){
    
  /* 悬浮显示商品评论星星 */
  $('.star').hover(function(){
  		$(this).find('.star_pop').show();
  	}, function(){	
  		$(this).find('.star_pop').hide();	
  	});
	/* 加入购物车弹出层 */
	$(".close").live("click", function(){
	$("#popbg").fadeOut();
	$(this).parent().parent().parent().fadeOut();
	});	
  stepUserCenterAction('comment_list_new');//设置活动menu
  setHeadFlowNum();//购物车数量
       /*静态页面调用该函数*/
        setHeadUserStatus();
	$(".top_nav span").eq(0).text("商品评论");

});
</script>
<%end%>
