  <div class="right_top"> 
        	<span class="welcome album"></span> 
            <span class="goon_btn"><a style="color:#fff;"  href="/" title="首页">继续购物</a></span>             
        </div> 
<div class="right_line">      	
        <table width="100%"  border="0" cellpadding="0" cellspacing="0" class="table"> 
          <tr> 
            <td width="70%" height="30" align="left" valign="middle" class="td_top"><span class="up_t">商品相册</span>(共<%=@products.size%>个相册)</td> 
            <td width="30%" align="right" valign="middle" class="td_top"></td> 
          </tr> 
          <tr> 
            <td colspan="2" align="left" valign="middle" class="td" style="padding-bottom:30px;">
              <%@products.each do |product|%>
                <ul class="album_ul"> 
                    <li><a href="/usercenter/upload_photos/<%=product.id%>"><img src="<%=product.user_last_upload_photo(current_user.id).i1.url(:small)%>" /></a></li> 
                    <li><a href="/usercenter/upload_photos/<%=product.id%>"><%=truncate product.name,:length=>12%></a>(<%=show_specific_product_count(product.id)%>)</li> 
                    <li class="goon_btn" style="margin:0; float:none;"> 
                      <a style="color:#fff;" href="/usercenter/upload_photos/<%=product.id%>/new">上传图片</a></li> 
                </ul>
              <%end%>
                              <div class="clear"></div> 
            </td> 
          </tr>         
        </table> 
      </div>     