
<%content_for :headmeta do%>
<meta name="Generator" content="给力百货 geilibuy.com " />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache"/>
<meta name="pagename" content="tuan" />
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
<%end%>
<%content_for :headtitle do%>
<title>邀请有奖 - 给力团 给力我的给力 - 给力百货</title>
<%end%>
<% content_for :headstyle do %>
<!--style>
html {filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5;}
html {filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}
</style-->
<link href="/themes/default/css/tuan_public.css" rel="stylesheet" type="text/css" />
<link href="/themes/default/css/tuan_ucener.css" rel="stylesheet" type="text/css" />
<link href="/themes/default/css/tuan_others.css" rel="stylesheet" type="text/css" />
<link href="/themes/default/css/tuan_reglogin.css" rel="stylesheet" type="text/css" />
<%end%>
<%content_for :headother do%>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" href="/animated_favicon.gif" type="image/gif" />
<link rel="alternate" type="application/rss+xml" title="RSS|邀请有奖 - 给力团 给力我的给力 - 给力百货" href="" />
<%end%>
<%content_for :headjs do%>
<script type="text/javascript" src="/themes/default/js/quwan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/global.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/hotkeys.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_divpop.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_user.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_account.js" charset="UTF-8"></script>
<script type="text/javascript">
$(function(){
  	// 检测是否登录
	setTuanHeadUserStatus();
  
  });
</script>
<%end%>
<div class="navtip ">
</div>

<div id="main">
<%if has_login?%>			
		<div id="left">
    <div class="zone">
    <div class="leftbar">邀请有奖</div>
    <dl class="invate_way">

      <dt>当好友通过您的专用邀请链接注册并完成首次购买，系统会为您的现金账户充值5元，可直接用于支付。</dt>
      <dd id="inv_way1"> <b id="urldoc2">这是您的专用邀请链接，通过MSN或QQ发送给好友吧！</b><br/>
      <%if has_login?%>
        <input type="text" style="width:300px;" autocomplete="off" name="qqmsnurl2" id="qqmsnurl2" class="inputs" value="http://www.geilibuy.com/tuan/r<%=current_user.id%>" onfocus="this.select()">
        <%else%>
        <input type="text" style="width:300px;" autocomplete="off" name="qqmsnurl2" id="qqmsnurl2" class="inputs" value="http://www.geilibuy.com/tuan" onfocus="this.select()">
	<%end%>
	<!--[if IE]>
        <input type="submit" value="复制链接" class="dbtn com_btn" onClick="copy2(document.getElementById('qqmsnurl2').value)">
        <![endif]-->
        <div class="clear"></div>
      </dd>
            <dd id="inv_way2">

        <table width="520" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="2"><b>通过其他方式邀请好友：</b></td>
          </tr>
          <tr>
            <td width="214" valign="top"><a href="http://www.geilibuy.com/tuan/"><img src="<%=@tuan.i1.url%>" alt="<%=@tuan.sub_title%>" width="197" height="119" /></a></td>
            <td width="371" align="left" valign="top" style="padding-right:33px;"><%=@tuan.sub_title%></td>
          </tr>

        </table>
      </dd>
<%
share_url=url_encode("http://www.geilibuy.com#{mytuan_url(@tuan)}")
share_title=url_encode(@tuan.edm_title)
xiaonei=%Q{http://share.xiaonei.com/share/buttonshare.do?link=#{share_url}&title=#{share_title}}
kaixin=%Q{http://www.kaixin001.com/repaste/share.php?title=#{share_title}&rurl=#{share_url}}
douban=%Q{http://www.douban.com/recommend/?url=#{share_url}&title=#{share_title}}
qq=%Q{http://v.t.qq.com/share/share.php?title=#{share_title}&url=#{share_url}}
sohu=%Q{http://bai.sohu.com/share/blank/add.do?link=#{share_url}}
baidu=%Q{http://cang.baidu.com/do/add?it=#{share_title}&tn=#{share_url}}
sina=%Q{http://v.t.sina.com.cn/share/share.php?url=#{share_url}&title=#{share_title}}
%>
          </dl>
        <dl class="share">
      <dt>分享到：</dt>
      <dd> <a class="renren" href="<%=raw xiaonei%>" target="_blank">人人</a>
      <a class="kaixin" href="<%=raw kaixin%>" target="_blank">开心</a>
      <a class="sina" href="<%=raw sina%>" target="_blank">新浪微博</a>
      <a class="douban" href="<%=raw douban%>" target="_blank">豆瓣</a>
      <a class="my_qq" href="<%=raw qq%>" target="_blank">腾讯微博</a>

        </li>
      </dd>
    </dl>
        <br />
    <br />
    <br />
    <br />
    <br />
  </div>

  </div>
<%else%>
<div id="left">
    <div class="zone">

    <div class="leftbar">邀请有奖</div>
    <dl class="invate_way">
      <dt>当好友通过您的专用邀请链接注册并完成首次购买，系统会为您的现金账户充值5元，可直接用于支付。</dt>
      <dd>
        <!--<form action="/tuan/account/login" method="get" name="gotoLoginForm" id="gotoLoginForm" >-->
          请先 <a href="/tuan/account/login" style="cursor:pointer" class="blue">登录</a> 或者 <a href="/tuan/account/register" class="blue">注册</a>，获取您的专用邀请链接。

        <!--</form>-->
      </dd>
    </dl>
  </div>
  </div>
<%end%>
<div id="right">
  <div class="zone">
    <h4>在哪里可以看到我的返利？</h4>
    <p>在<a href="http://www.geilibuy.com/tuan/account/invites" class="blue">我的邀请</a>可看到您的邀请和返利记录。返利金额不返现，可在下次团购时用于支付。</p>
    <h4>哪种情况会使邀请返利失效？</h4>
    <p>同一个手机号或送货地址多次使用时不返利，对自己邀请自己的作弊行为扣除一切返利。</p>

    <h4>购买所有团购商品都返利吗？</h4>
    <p>个别团购会注明不返利，也不计入好友的首次购买，好友下次购买可返利商品时您将获得5元返利。</p>
  </div>
</div>
		
	
<div class="clear"></div>     
</div>
