<%content_for :headmeta do%>
<meta name="Generator" content="给力百货 geilibuy.com " />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta http-equiv="pragma" content="no-cache"/>
<meta name="pagename" content="tuan" />
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
<%end%>
<%content_for :headtitle do%>
<title>购物车 - 给力团 创意百货天天团 - 给力百货</title>
<%end%>
<% content_for :headstyle do %>
<!--style>
html {filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5;}
html {filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}
</style-->
<link href="/themes/default/css/tuan_public.css" rel="stylesheet" type="text/css" />
<link href="/themes/default/css/tuan_ucener.css" rel="stylesheet" type="text/css" />
<%end%>
<%content_for :headother do%>
<link rel="shortcut icon" href="http://www.geilibuy.com/favicon.ico" />
<link rel="icon" href="/animated_favicon.gif" type="image/gif" />
<link rel="alternate" type="application/rss+xml" title="RSS|购物车 - 给力团 创意百货天天团 - 给力百货" href="" />
<%end%>
<%content_for :headjs do%>
<script type="text/javascript" src="/themes/default/js/quwan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/global.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/hotkeys.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_divpop.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_user.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_buy.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/flow.js" charset="UTF-8"></script>
<script type="text/javascript">
$(function(){
	
	
	
            // 检测是否登录
            setTuanHeadUserStatus();
	if ($("input[name='payment']:checked").length==0)
	{
		$("input[name='payment'][data='支付宝']").attr("checked",true);
	}	
	
	
	
	
	});


</script>
<%end%>
<div class="navtip" id="MetionDivNum">
<dl class="navtip_dl" style="display:none;" >
    	<dt>关闭</dt>
        <dd>抱歉，数量有限，您最多只能购买<%=@tuan.everyone_max_num%>件。</dd>
    </dl>
</div>

<div id="main">
			

<form action="/tuan/checkout" method="post" id="testform" name="payform" >
    <div class="zone">
      <div class="leftbar"><img src="/themes/default/imgs/tuan/step2.gif"></div>
            <dl class="payment">
      	<dt><b>应付总额：</b><font>¥ <%=@tuan_total_price%></font></dt>
	<%if current_user.money>0%>
	
		<%if current_user.money < @tuan_total_price %>
			<dd style="margin-bottom: 20px; padding-left: 15px;">账户余额：<span>¥ <%=current_user.money%></span>&nbsp;&nbsp;您的余额不够完成本次付款，还需要支付 <span>¥ <%=price(@tuan_total_price-current_user.money)%></span>。</dd>
		<%end%>
		<%if current_user.money >= @tuan_total_price %>
		<%cash_payment=Payment.find_by_name("现金账户")%>
			<dd class="paytip"><b>使用现金帐户支付</b></dd>
			<dd style="margin-bottom: 20px; padding-left: 15px;"><input type="radio" <%=raw tuan_payment_checked(cash_payment)%> value="<%=cash_payment.id%>" id="radio_<%=cash_payment.id%>" name="payment">&nbsp;&nbsp;<label for="radio_<%=cash_payment.id%>">现金帐户</label>&nbsp;&nbsp;&nbsp;&nbsp;您可使用账户余额支付 <span>¥ <%=price@tuan_total_price%></span>，支付完成后账户余额将变为 <span>¥ <%=price(current_user.money-@tuan_total_price)%></span>。</dd>
		<%end%>
	<%end%>
	<%if current_user.money >= @tuan_total_price %>
	<dd class="paytip"><b>或选择其他方式支付</b></dd>
	<%else%>
	<dd class="paytip"><b>请选择支付方式</b></dd>
	<%end%>
      </dl>
            <ul class="myinvate" style="padding-top:0;"> 
        <li>

      <!--<form action="/tuan/account/pay"  method="post" id="testform" name="payform" >-->
	           <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<table width="100%" border="0" class="paylist">
	
	
    <%Payment.where("parent_id is null and special=0 and hide=0 and tuangou=0").order("position").all.each_with_index do |payment,index|%>
    <tr>
    <td colspan="3"><input type="radio" name="payment" id="radio_<%=payment.id%>" value="<%=payment.id%>" <%=raw tuan_payment_checked(payment)%>  data="<%=payment.name%>"/>
      <label for="radio_<%=payment.id%>"><img src="<%=payment.i1.url%>" width="76" height="25" onclick="click_payment_pic('radio_<%=payment.id%>')" /></label><span><%=raw payment.memo.gsub("（+20积分）","")%></span></td>
    </tr>
    <%end%>


  <tr> 
<%payments=Payment.sub
payments.each_with_index do |payment,index|	
%>

        <td><input type="radio" name="payment" id="radio_<%=payment.id%>" value="<%=payment.id%>" <%=raw tuan_payment_checked(payment)%> />
      <label for="radio_<%=payment.id%>"><img src="<%=payment.i1.url%>"            onclick="click_payment_pic('radio_<%=payment.id%>')" /></label></td>
	<%if (index+1)%3==0 and (index+1)!=payments.size%>
				</tr>
				<tr>
	<%end%>
<%end%>
</tr>
<tr>
    <td height="50" colspan="3">
      <input type="hidden" value="165654" id="t_id" name="t_id">
      <input type="hidden" value="pay" id="t_type" name="t_type">
      <input type="submit" style="width: 140px;" class="dbtn com_btn" value="确认订单，付款">&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size: 12px;" id="testk" href="/tuan/order" class="blue">» 返回修改订单</a>
      </td>
    </tr>                  
   <tr>
    <!--<td height="50" colspan="3">-->
    <!--  <input type="hidden" name= "t_amount" id="chargeamount" value=""/>-->
    <!--  <input type="hidden" name="t_type" id="t_type" value="charge"/>-->
    <!--  <input type="submit" value="确认付款" class="dbtn com_btn">&nbsp;&nbsp;&nbsp;&nbsp;<a class="blue" href="charge" id="testk">» 返回上页修改充值金额</a>-->
    <!--  </td>-->
    <!--</tr>-->
</table>
<!--</form>-->
        </li>
      </ul> 
    </div>
 </form>				
	<div class="clear"></div>     
</div>
