<%content_for :headmeta do%>
<meta name="Generator" content="给力百货 geilibuy.com " />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta http-equiv="pragma" content="no-cache"/>
<meta name="pagename" content="tuan" />
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
<%end%>
<%content_for :headtitle do%>
<title>购物车 - 给力团 给力我的给力 - 给力百货</title>
<%end%>
<% content_for :headstyle do %>
<!--style>
html {filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5;}
html {filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}
</style-->
<link href="/themes/default/css/tuan_public.css" rel="stylesheet" type="text/css" />
<link href="/themes/default/css/tuan_ucener.css" rel="stylesheet" type="text/css" />
<%end%>
<%content_for :headother do%>
<link rel="shortcut icon" href="http://www.geilibuy.com/favicon.ico" />
<link rel="icon" href="/animated_favicon.gif" type="image/gif" />
<link rel="alternate" type="application/rss+xml" title="RSS|购物车 - 给力团 给力我的给力 - 给力百货" href="" />
<%end%>
<%content_for :headjs do%>
<script type="text/javascript" src="/themes/default/js/quwan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/global.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/hotkeys.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_divpop.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_user.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_buy.js" charset="UTF-8"></script>
<script>
$(document).ready(function(){
	/* 初始检测商品数量 */
	CheckGroupBuyNum($('#t_num')[0]);
	
	/* 配送地址按钮文字 */
  $('#CheckGroupBuy').val('确认无误，购买');
  
  	// 检测是否登录
	setTuanHeadUserStatus();
  
});	
</script>
<%end%>
<div class="navtip" id="MetionDivNum">
<dl class="navtip_dl" style="display:none;" >
    	<dt>关闭</dt>
        <dd>抱歉，数量有限，您最多只能购买<%=@tuan.everyone_max_num%>件。</dd>
    </dl>
</div>

<div id="main">
		 <div id="left" class="uc_left">  
	   <form action="/tuan/checkout" method="post" name="theForm" id="theForm" >
                       <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <div class="zone">
	

      
      
      <div class="leftbar"><img src="/themes/default/imgs/tuan/step1.gif"></div>
      <ul class="flow_order">  
        <li>
        	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="goodslist">
          <tr class="oltd_odd" >
            <th width="239" style="border:none;" align="left"> 商品名称</th>
            <th width="87" style="border:none;" align="center">商品数量</th>
            <th width="59" style="border:none;" align="center">&nbsp;</th>
            <th width="110" style="border:none;" align="center"> 商品单价</th>
            <th width="56"  style="border:none;" align="center">&nbsp;</th>
            <th width="109" style="border:none;" align="center"> 商品总价       </th>
          </tr>
          <tr>
            <td width="239" align="left"><a href="<%=mytuan_url(@tuan)%>" target="_blank" title="<%=@tuan.sub_title%>"><%=truncate @tuan.sub_title,:length=>18%></a></td>
            <td align="center"><input style="text-align:center;font-size:16px;" type="text" name="t_num" id="t_num" onkeyup="CheckGroupBuyNum(this)" class="inputs flow_num" value="1" /></td>
            <td align="center">×</td>
            <td align="center">¥ <%=@tuan.pp2%></td>
            <td align="center">=</td>
            <td align="center" style="font-size:16px">¥ <font id="GoodsAmount"><%=@tuan.pp2%></font></td>
          </tr>
          <tr>
            <td align="left" colspan="2">配送费用
            <%if @tuan.free_shipping?(1)%>
                                                 <span class="red">（本单购买即包邮）</span>
            <%end%>
                                             </td>

            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
            <td align="center" style="font-size:16px">¥ <font id="ShippingFee">
                                                 <%=@tuan.shipping_fee(1)%>
                                             </font></td>
          </tr>
          <tr>
            <td align="left"><span><b>应付总额</b></span></td>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
            <td align="center"><span>=</span></td>
            <td align="center" style="font-size:16px"><span><b>¥ <span id="TotalAmount">39</span></b></span></td>
          </tr>
          <%unless has_login?%>
                   <tr>
            <td align="left"><input type="button"  value="确认订单" class="dbtn com_btn" id="gotoLogin2" style="width:100px;" onclick="window.location.href='/tuan/account/login?back_url=/tuan/order';"/></td>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
          </tr>
                   <%end%>
                 </table>
        
        </li>            
      </ul>
      <%if has_login?
      
      if has_address?
        address=current_user.addresses.first
      %>
      <dl class="flow_addr">
      	<dt><b>配送信息</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/tuan/account/address" class="blue">修改</a></dt>
        <dd>
        	<ul>           
            <li><%=address.consignee%></li>
            <li><%=address.address%></li>
            <li><%=address.province.name%>  <%=address.city.name%>  <%=address.district.name%> 区</li>
            <li>电话：<%=address.mobile || address.tel%></li>
            <li><input type="button" id="CheckGroupBuy" value="确认无误，购买" class="dbtn com_btn" style="width:140px;" /></li>
            <li><span></span></li>
          </ul>
        </dd>       
      </dl>
      <%else%>
      <dl class="flow_addr">
        <dt><b>配送信息</b>&nbsp;&nbsp;&nbsp;        </dt>
                         <dd>
          
 
<table width="100%" border="0">
  <tr>
                <td align="right">收货人姓名：</td>
                <td>
                  <input type="text" class="inputs" name="consignee" id="consignee_new" value="" />
      &nbsp;<span class="consignee_table_notice" style="color:#FF0000"></span>
                  </td>
              </tr>
              <tr>
                <td width="14%" align="right">省市区：</td>
                <td width="86%">
                  
      <select name="country" id="selCountries_new" onChange="region.changed(this, 1, 'selProvinces_new')" style='display:none;'>
                <option value="1" selected>中国</option>
              </select>
      <select name="province" id="selProvinces_new" onChange="region.changed(this, 2, 'selCities_new')">
         <option value="0">请选择省</option>
                <option value="2" >北京</option>
                <option value="3" >天津</option>
                <option value="4" >河北</option>
                <option value="5" >山西</option>
                <option value="6" >内蒙古</option>
                <option value="7" >辽宁</option>
                <option value="8" >吉林</option>
                <option value="9" >黑龙江</option>
                <option value="10" >上海</option>
                <option value="11" >江苏</option>
                <option value="12" >浙江</option>
                <option value="13" >安徽</option>
                <option value="14" >福建</option>
                <option value="15" >江西</option>
                <option value="16" >山东</option>
                <option value="17" >河南</option>
                <option value="18" >湖北</option>
                <option value="19" >湖南</option>
                <option value="20" >广东</option>
                <option value="21" >广西</option>
                <option value="22" >海南</option>
                <option value="23" >重庆</option>
                <option value="24" >四川</option>
                <option value="25" >贵州</option>
                <option value="26" >云南</option>
                <option value="27" >西藏</option>
                <option value="28" >陕西</option>
                <option value="29" >甘肃</option>
                <option value="30" >青海</option>
                <option value="31" >宁夏</option>
                <option value="32" >新疆</option>
                <option value="33" >香港</option>
                <option value="34" >台湾</option>
              </select>
      <select name="city" id="selCities_new" onChange="region.changed(this, 3, 'selDistricts_new')">
       <option value="0">请选择市</option>
              </select>
      <select name="district" id="selDistricts_new" style="display:none">
       <option value="0">请选择区</option>
              </select>
      <span id="table_notice">&nbsp;<span class="country_table_notice" style="color:#FF0000"></span></span>
                  
                </td>
              </tr>
              <tr>
                <td align="right">详细地址：</td>
                <td>
                  <input name="address" type="text" size="75"  class="inputs" style="width:400px;" id="address_new" value=""  />
      <span id="table_notice">&nbsp;<span class="address_table_notice" style="color:#FF0000"></span></span> 
                  </td>
              </tr>
              
              <tr>
                <td align="right">电话号码：</td>
                <td>
                  <input name="mobile" class="inputs" type="text" size="20" id="mobile_new" value="" />
                   <input name="tel" class="info_input" size="20" type="hidden" id="tel_new" value="" />
                  <span class="tel_table_notice  " style="color:#FF0000"><font style="color:#666">建议填写手机号码</font></span>
                  </td>
              </tr>
              <tr>
                <td align="right">&nbsp;</td>
                <td><input type="button" id="CheckGroupBuy" value="配送到这个地址" class="dbtn com_btn" style="width:130px;" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="addresscancle" value="取消" class="dbtn com_btn" style="display:none;" onclick="location.href='http://www.geilibuy.com/tuan/account/address'" /></td>
              </tr>
            </table>                    <input name="email" type="hidden" id="email_new" value="qq63535@qq.com" />
                    <input name="address_id" type="hidden" value="" />
          <span style="padding-left:100px;"></span>
        </dd>
      </dl>
         <input id="new_address" name=new_address" type="hidden" value="1" />

      <%end%>
<%end%>
	    	  </div>
	  <input type="hidden" name="t_c" id="t_c" value="i">
    <input type="hidden" name="t_id" id="t_id" value="20101126a">
	  </form>
  </div>
          <form action="/tuan/account/login?back_url=/tuan/order" method="post" name="gotoLoginForm" id="gotoLoginForm" >
        <input type="hidden" value="http://www.geilibuy.com/tuan/buy/i-20101126a" name="back_act">
      <form>
    					
	<div class="clear"></div>     
</div>
