<%
def remove_module_name(str)
  a=file_path.split("/")
  if a.size==1
    r=str
  else
    a.pop
    pre=""
    pre2=""
    for e in a
      pre+=e+"_"
      pre2+=e.capitalize+"::"
    end
    if str.index(pre)==0
      r=str[pre.size,str.size]
    elsif str.index(pre2)==0
      r=str[pre2.size,str.size]
    else
      r=str
    end
  end
  r
end

def gen_path
  a=file_path.split("/")
  if a.size==1
    r="@"+remove_module_name(singular_table_name)
  else
    a.pop
    a=a.map{|e| ":"+e}<<"@"+remove_module_name(singular_table_name)
    r=a.join(',')
  end
  "[#{r}]"
end
%>
<p id="notice"><%%= notice %></p>

<% for attribute in attributes -%>
<p>
  <b><%= attribute.human_name %>:</b>
  <%%= @<%=remove_module_name singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>

<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%=remove_module_name singular_table_name %>) %> |
<%%= link_to 'Back', <%= index_helper %>_path %>
