
<!--xiao mao generator QQ:hi@15-1688.com-->
<%= form_for([:admin,@delivery_company]) do |f| %>
  <% if @delivery_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery_company.errors.count, "error") %> prohibited this delivery_company from being saved:</h2>

      <ul>
      <% @delivery_company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :memo %><br />
    <%= f.text_area :memo,:cols=>40,:rows=>4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
