<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>管理后台</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <style type="text/css">
#menu{float:left;width:200px;height:768px;}
#right{float:right;}
</style>

<!-- jstree start -->
<link rel="stylesheet" href="/jquery-treeview/jquery.treeview.css" />
<!--<link rel="stylesheet" href="/jquery-treeview/red-treeview.css" />-->
<link rel="stylesheet" href="/jquery-treeview/demo/screen.css" />
<!--<script src="/jquery-treeview/lib/jquery.cookie.js" type="text/javascript"></script>-->
<script src="/jquery-treeview/jquery.treeview.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
        $("#browser").treeview({
                toggle: function() {
                        //console.log("%s was toggled.", $(this).find(">span").text());
                }
        });
});
</script>
<!--jstree end-->
    <%= yield :head%>
</head>
<body>
<div id="mainbody">
    <div id="menu">
<ul id="browser" class="filetree treeview-famfamfam">
    <li><span class="file"><a href="/" target="_blank">前台首页</a></span></li>
    <li><span class="file"><a href="/usercenter/logout" target="_blank">退出</a></span></li>
    <li><span class="folder">订单管理</span>
      <ul>
	  <li><span class="file"><a href="/admin/orders">订单列表</a></span></li>
	  <li><span class="file"><a href="/admin/orders/has_pay">已付款订单</a></span></li>
	  <li><span class="file"><a href="/admin/orders/cod">货到付款订单</a></span></li>
      </ul>
    </li>
    <li><span class="folder">广告管理</span>
      <ul>
	  <li><span class="file"><a href="/admin/slots">广告位管理</a></span></li>
	  <li><span class="file"><a href="/admin/materials">广告物料管理</a></span></li>
	  <li><span class="file"><a href="/admin/product_shows">产品展示管理</a></span></li>
	  <li><span class="file"><a href="/admin/comment_shows">评论展示管理</a></span></li>
      </ul>
    </li>
    <li><span class="folder">评论管理</span>
      <ul>
	<li><span class="file"><a href="/admin/presale_consultings">售前咨询管理</a></span></li>
	<li><span class="file"><a href="/admin/postsale_comments">售后评价管理</a></span></li>
      </ul>
    </li>
    <li><span class="folder">系统设置</span>
      <ul>
	<li><span class="file"><a href="/admin/free_shipping_rules">免邮费管理</a></span></li>
	<li><span class="file"><a href="/admin/deliveries">送货方式管理</a></span></li>
	<li><span class="file"><a href="/admin/delivery_times">送货时间管理</a></span></li>
	<li><span class="file"><a href="/admin/payments">支付方式管理</a></span></li>
	<li><span class="file"><a href="/admin/educations">教育经历管理</a></span></li>
	<li><span class="file"><a href="/admin/jobs">工作职位管理</a></span></li>
      </ul>
    </li>

    <li><span class="folder">产品管理</span>
      <ul>
	<li><span class="file"><a href="/admin/products">产品列表</a></span></li>
	<li><span class="file"><a href="/admin/products/new">新品添加</a></span></li>
	<li><span class="file"><a href="/admin/categories">类别管理</a></span></li>
	<!--<li><span class="file"><a href="/admin/gifts">礼品类别管理</a></span></li>-->
	<li><span class="file"><a href="/admin/brands">品牌管理</a></span></li>
      </ul>
    </li>


				<li><span class="file"><a href="/admin/lotteries">抽奖设置</a></span></li>
				<li><span class="file"><a href="/admin/lottery_details">中奖详细列表</a></span></li>
				<li><span class="file"><a href="/admin/score_details">积分管理</a></span></li>
				<li><span class="file"><a href="/admin/articles">文章管理</a></span></li>
				<li><span class="file"><a href="/admin/article_categories">文章分类管理</a></span></li>
				<li><span class="file"><a href="/admin/tuans">团购管理</a></span></li>
				<li><span class="file"><a href="/admin/coupons">优惠券/礼品卡管理</a></span></li>
				<li><span class="file"><a href="/admin/delivery_companies">快递公司管理</a></span></li>
				<li><span class="folder">Folder 2</span>
					<ul>
						<li><span class="folder">Subfolder 2.1</span>
							<ul id="folder21">
								<li><span class="file">File 2.1.1</span></li>
								<li><span class="file">File 2.1.2</span></li>
							</ul>
						</li>
						<li><span class="folder">Subfolder 2.2</span>
							<ul>
								<li><span class="file">File 2.2.1</span></li>
								<li><span class="file">File 2.2.2</span></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="closed"><span class="folder">Folder 3 (closed at start)</span>
					<ul>
						<li><span class="file">File 3.1</span></li>
					</ul>
				</li>
				<li><span class="file">File 4</span></li>

	</ul>
    </div>
    <div id="main">
    <%= yield %>
    </div>
</div>
</body>
</html>

